
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body>
    <div>
        <h2>ĐẶT HÀNG THÀNH CÔNG</h2>
        <h4>Đơn hàng của bạn sẽ được shop xử lý sớm nhất. Xin cảm ơn</h4>
        <a href="@Url.Action("Index","Home")">Tiếp tục mua hàng</a>
    </div>
</body>
</html>
